
.targetButton{
    padding: 10px;
    display:block; 
   margin-top: 20px;

  }
  .targetButton button:hover{
  background-color: #1974d3;
  }
  .targetButton button{
    background-color:#f1d4b7 ;
    color: black;
    font-weight: bold;
    display: block;
    margin: auto;
    border: none;
    padding: 10px 15px;
  }
  .targetInput{
  
    width: 400px;
    height: 20px;
  }
  .targetInput input{
    width: 80%;
    display: block;
    margin: auto;
  }
