.customContainer{
  background-color: rgba(255, 255, 255, 0.817);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* width: 60%!important; */
  display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 60px;
width: 500px!important;

}
body{
  background-image: url("https://cdn.pixabay.com/photo/2016/11/29/05/01/beach-1867436_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

