.customContainer{
  background-color: aqua;
  /* width: 60%!important; */
  display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 60px;

}
body{
  background-image: url("https://img.freepik.com/free-vector/background-seamless-pattern-vector-with-cute-memphis_53876-105506.jpg?size=626&ext=jpg&ga=GA1.2.1494624153.1691662819&semt=ais");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;

  justify-content: center;
}
